# Build
/build/
*out/
*node_modules/
# OS
.DS_Store
Thumbs.db

# Editor / IDE
*.swp
*.swo
*.swn
*.bak
*.tmp
*~
*#
.vscode/
.idea/

# C/C++ build artifacts
*.o
*.obj
*.d
*.a
*.lib
*.so
*.dylib
*.dll
*.lo
*.slo
*.lai
*.la
*.gch
*.pch
*.ilk
*.pdb
*.dwo

# Executables
*.exe
*.out
*.app

# LLVM artifacts
*.ll
*.bc
*.s

# VS Code extension
editors/vscode/lpl-lang/node_modules/
editors/vscode/lpl-lang/out/
editors/vscode/lpl-lang/*.vsix
